h1{
    font-style:italic;
}
/* nav section css */
.nav_section{
    background-color: rgb(185, 189, 189);
}

#navbarNav{
    /* padding-left: 30%; */
    display: flex;
    justify-content: end;
}

.brand-name{
    font-weight: 600;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(94, 91, 91);
    border: 10px rgb(146, 145, 145) solid;
    border-radius: 30px;
    background-color: white;
    padding: 5px;
}


/* nav section css end*/

/* home cards section */
.card{
    min-width: 95%;
}

.my-cards{
    border: 3px rgb(99, 99, 99) solid;
    border-radius: 10px;
    margin: 5px 20px 5px 5px;
    padding: 5px;
    background-color: rgb(225, 224, 223);
}

.my-cards .card-body{
    width: 100%;
}
.my-cards h6{
    font-size: 15px;
}
/* .my-cards h6::after{
    content: none;
    background-color: black;
    height: 3px;
    width: 3px;
} */

.cards-section{
    display: flex;
    justify-content: center;
}

.cards-section .container{
    /* border-right: 2px black solid; */
    border-radius: 10px;

}

.cards-section .container .display-cards{
    border-right: 2px black solid;
}


/* home cards section end*/

/* table section */
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
/* table section end*/

.form_container{
    border: 5px solid rgb(99, 99, 99);
    display: flex;
    justify-content: center;
    width: max-content;
    height: fit-content;
    padding: 15px;
    border-radius: 15px;
}

#whole_reg_page{
    display: flex;
    justify-content: center;
}

/* profile page css */
/* body{
    
    background-color:#B3E5FC;
    border-radius: 10px;

} */


.profile-card{
  width: 400px;
  border: none;
  border-radius: 10px;
   
  background-color: #fff;
}



.stats{

      background: #f2f5f8 !important;

    color: #000 !important;
}
.articles{
  font-size:10px;
  color: #a1aab9;
}
.number1{
  font-weight:500;
}
.followers{
    font-size:10px;
  color: #a1aab9;

}
.number2{
  font-weight:500;
}
.rating{
    font-size:10px;
  color: #a1aab9;
}
.number3{
  font-weight:500;
}



/* CSS for the edit form */
#editForm {
    display: none;
}

/* CSS to show the edit form when the hash changes */
#editForm:target {
    display: block;
}



/* end profile page css */

.custom-image {
    max-width: 60px; /* Adjust the maximum width as per your requirements */
    height: auto;
}