{% extends 'blog/base.html'%}

{% block content %}

<div class="card" style="width: 18rem; border: solid black 4px; margin-left: 1%; margin-top: 1%;">
    <img src="{{object.author.profile.profile_pic.url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <div style="display: flex; justify-content: space-around;">
      <h5 class="card-title" style="font-size: x-large;">{{object.title}}</h5>
      <a href="{%url 'update_blog' object.id %}"><i class="edit icon" style="color: grey;"></i></a>
      <a href="{%url 'delete_blog' object.id %}"><i class="delete icon" style="color: red;"></i></a>
    </div>
      <p class="card-text">{{object.author.username}}  -Posted on : {{object.posted_on|date:"F d, Y"}}</p>
      <p class="card-text">{{object.content}}</p>

    </div>
    
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
{% endblock %}