{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<div style="display:flex; justify-content: space-around;">
  <div class="card" style="width: 18rem; margin: 1%; border: solid black 4px; ">
    <img src="{{user.profile.profile_pic.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="text-transform: uppercase;">{{user.username}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Email: {{user.email}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset>
        {{ u_form|crispy }}
        {{ p_form|crispy }}
      </fieldset>
      <button type="submit">Update</button>
    </form>
  </div>
</div>
{% endblock %}