{% extends 'post/base.html' %}
{% block content %}

<div class="cards-section">
    <div class="container">
        <div class='display-cards'>
        <h1 class="mb-3">
            Posts by {{view.kwargs.username}} ({{page_obj.paginator.count}})
        </h1>
        <!-- cards section -->
        {% for post in posts %}
        <div class="card my-cards" style="width: 18rem;">
            <div class="card-body">
                <div class="d-flex">
                    <img class="rounded-circle account-img img-fluid custom-image" src="{{post.Author.profile.image.url}}" alt="">
                <a href="{% url 'user_posts' post.Author.username %}"><h2 style="margin-left: 10px; ">{{post.Author}}</h2></a>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="{% url 'post_detail' post.id %}"> <h3 class="card-title">{{post.Heading}}</h3></a>
                    <h6 class="card-subtitle mb-2 text-muted"> -{{post.PostOn}}</h6>
                </div>
                
                <!-- {{ post.date_posted| date:"M d, Y" }} -->
                <p class="card-text">{{ post.Description|truncatewords:12 }}</p>
            </div>
        </div>
        {% endfor %}
        <!-- cards section end -->
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                    <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
                {% endif %}
                
            {% endfor %}
            {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">last</a>
            {% endif %}
        {% endif %}
    </div>
    </div>
    
</div>

{% endblock %}